<?xml version="1.0"?>
<launch>
   <arg name="config_file_name" value="ob1_arm_relaxedIK.config" />

   <!-- ##################################################################################### -->

   <param name="config_file_name" value="$(arg config_file_name)"/>
   <node pkg="relaxed_ik" type="relaxed_ik_service_node.py" name="relaxed_ik_service_node" />
</launch>
